.item {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
    margin: 0 10px 0;

}

.question {
    width: 224px;
    color: rgb(190, 47, 65);
}


.answer {
    width: 156px;
}

.updated {
    width: 150px;
}

.textArea {
    margin-bottom: 20px;
    text-align: left;
}

.buttons {
    width: 150px;
}
.btn{
    /*height: 29px;*/
    /*width: 90px;*/
    background: rgba(190, 47, 65, 0.98);
    box-shadow: 0 3px 10px rgba(12, 5, 9, 0.84), inset 0 1px 0 rgba(255, 255, 255, 0.42);
    border-radius: 30px;
    color: white;
    margin:0 2px 0 0;
    /*.*/
}
.btn:active{
    background: rgba(239, 235, 235, 0.92);
    box-shadow: 0 3px 10px rgba(12, 5, 9, 0.84), inset 0 1px 0 rgba(255, 255, 255, 0.42);
    border-radius: 30px;
    color: black;
}

.starRatingStar {
    transition: color 0.03s;
}
.starRating {
    display: inline-block;
    width: 90px;
}


