.mainContainer{
    position: relative;
    max-height: 100vh;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 12%;
    margin-top: 45px;
    /*border: 2px solid aqua;*/

}

.container_log{
    display: flex;
    justify-content: center;
    max-width: 1250px;
    min-width: 800px;

    /*position: absolute;*/
    /*display: flex;*/

    /*width: 1200px;*/
    /*min-height: 560px;*/
    /*max-height: 565px;*/
    /*left: 600px;*/
    /*top: 80px;*/

    /*overflow: hidden;*/

    /*background: rgba(249, 249, 254, 0.6);*/
    /*border: 1px solid rgba(42, 2, 2, 0.9);*/
    /*border-radius: 8px;*/
    /*-webkit-box-shadow: -4px 5px 4px 1px rgba(157, 151, 151, 0.5);*/
    /*-moz-box-shadow: -4px 5px 4px 1px rgba(157, 151, 151, 0.5);*/
    /*box-shadow: -4px 5px 4px 1px rgba(157, 151, 151, 0.5);*/
}
.title{
    width: 100%;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 559px;
    top: 85px;

    /*font-family: 'Poppins';*/
    font-style: normal;
    font-weight: 411;
    font-size: 20px;
    line-height: 39px;
    /* identical to box height */
    color: #2D2E46;

}
h2{
    text-align: center;
}
h3{
    color: #bbbefa;
    font-size: 17px;
}


.blockAvatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    /*border-radius: 10px 0 0 10px;*/

    /*width: 100%;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 10px 0;*/

    /*border: 1px solid #ff9900;*/
    /*float: left;*/
    /*display: block;*/
    border-radius: 2px;
    /*width: 230px;*/
    padding: 5px;
    background: rgba(28, 30, 37, 0.56);
    box-shadow: 0 3px 10px rgb(143, 33, 49), inset 0 1px 0 rgba(255, 255, 255, 0.42);
}

.packsBlock{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    /*float: right;*/
    /*width: 88%;*/
    /*min-height: 460px;*/
    /*max-height: 465px;*/
    /*display: block;*/
    /*padding: 5px;*/
    /*background: rgba(28, 30, 37, 0.49);*/
}

.titleCardsBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    font-size: 18px;
    text-align: center;
}
.searchAddBlock{
    display: flex;
    justify-content: space-between;

}
.mainTable{

}
b{
    color: #c4fabb;
}

.eyes{

    width: 100%; /* Ширина поля */
    /*padding: 7px; !* Поля *!*/
    box-sizing: border-box; /* Алгоритм расчёта ширины */
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.2); /* Тень внутри */
    border-bottom-color: rgba(255, 255, 255, 0.87);/* Параметры рамки */
    color: #251e1e; /* Цвет текста */
    background: url(/src/n2-features/f1-auth/a1-login/eye.png) no-repeat 345px 50%;/* Картинка пользователя */
    padding-right: 30px;

}


.btnContainer{
    margin: 3px 67px 20px 67px;
    height: 33px;
    width: 120px;
    padding: 10px;

    /*border: 1px #5cdecb;*/

}
.btn{
    height: 29px;
    width: 90px;
    background: rgba(190, 47, 65, 0.92);
    box-shadow: 0 3px 10px rgba(12, 5, 9, 0.84), inset 0 1px 0 rgba(255, 255, 255, 0.42);
    border-radius: 30px;
    color: white;
    margin:8px 12px 10px;
}
.btn:hover{
    height: 29px;
    width: 97px;
    transform: scale(1);
    transition: all 1s ease;
    margin-left:10px;
}
.btn:active{
    height: 29px;
    width: 85px;
    background: rgba(232, 230, 230, 0.92);
    box-shadow: 0 3px 10px rgba(12, 5, 9, 0.84), inset 0 1px 0 rgba(255, 255, 255, 0.42);
    border-radius: 30px;
    color: #c73636;
    font-size: 12px;
    margin:8px 12px 10px;

}
.btnDise{
    height: 29px;
    width: 90px;
    font-size: 16px;
    background: rgba(232, 226, 226, 0.57);
    box-shadow: 0 3px 10px rgb(143, 33, 49), inset 0 1px 0 rgba(255, 255, 255, 0.42);
    border-radius: 30px;
    color: #130d0d;
    margin:16px 15px 16px;
}
.btnDise:hover{
    height: 35px;
    width: 127px;
    transform: scale(1);
    transition: all 1s ease;
    margin-right:10px;
}


.hContainer, .aContainer{
    height: 55px;
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
}


.imgAvatar{
    width: 80px;
    height: 80px;
    margin: 10px 25px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0);

}
.img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(143, 33, 49), inset 0 1px 0 rgba(255, 255, 255, 0.42);
    /*margin: 15px 65px 15px;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*text-align: center;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*position: relative;*/
    /*border: 1px solid white;*/

}
.avatarUrl{
    font-size: 12px;
    color: white;
    margin: 5px 20px 10px;
    padding: 1px;
    /*border: 1px solid white;*/
}
.descriptionForDoubleRangeSlider {
    padding: 4px 10px;
}
.DoubleRangeSliderContainer {
    margin-top: 50px;
    margin-right: 10px;
    width: 75%;
}
@media (max-width: 1570px) {
    .mainContainer{
        left: 23%;
        max-width: 850px;
    }
    .container_log{
        width: 750px;

    }
}
@media (max-width: 1270px) {
    .mainContainer{
        left:17%;
    }
    .container_log{
        height: 80%;
    }
}
@media (max-width: 1026px) {
    .mainContainer{
        left:11%;
    }
}
