.mainContainer{
    position: relative;
    max-height: 100vh;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 27%;
    /*margin-top: 20px;*/
    margin-top: 40px;
    /*border: 2px solid aqua;*/

}
.container_log{
    /*position: absolute;*/
    width: 700px;
    min-height: 560px;
    /*max-height: 580px;*/
    left: 670px;
    top: 80px;

    background: rgba(70, 70, 84, 0.6);
    /*border: 1px solid rgba(42, 2, 2, 0.9);*/
    border-radius: 8px;
    -webkit-box-shadow: -4px 5px 4px 1px rgba(157, 151, 151, 0.5);
    -moz-box-shadow: -4px 5px 4px 1px rgba(157, 151, 151, 0.5);
    box-shadow: -4px 5px 4px 1px rgba(154, 79, 79, 0.5);
}

.mainBlock {

}

.radioBlock {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 7px;
}

.gap {
    padding-bottom: 50px !important;
}

.block {
    padding: 16px 0;
    width: 100%;
    text-align: center;
    /*border: 2px #5cdecb;*/
}

.btnBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px 36px 30px;
}
